@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#CollapsParameters" aria-expanded="false" aria-controls="CollapsParameters">Параметры</button>
        <button type="button" class="btn btn-primary" onclick="GetData();">Построить График</button>
        <button type="button" class="btn btn-primary">Остановить вычисления</button>
        <button type="button" class="btn btn-primary" onclick="uploadFile()">Загрузить</button>
        <button type="button" class="btn btn-primary" onclick="downloadFile();">Сохранить</button>
        <input type="file" id="file" style="display:none;" />
    </div>
</div>

@section Parameters
{
    <partial name="Parameters.cshtml" model=Model.calculate />
    <partial name="Chart.cshtml" />
}
