@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#CollapsParameters" aria-expanded="false" aria-controls="CollapsParameters">Параметры</button>
        <button type="button" class="btn btn-primary" onclick="showChart2();">Отобразить график</button>
        <button type="button" class="btn btn-primary" onclick="resetZoom();">Сбросить масштабирование</button>
        <button type="button" class="btn btn-primary">Загрузить</button>

        <button type="button" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-primary" onclick="GetData();">Тест</button>
    </div>
</div>

@*<header class="navbar navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
        <span class="navbar-toggler-icon"></span>
    </button>
</header>
<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas" role="navigation">
    <h1>Test</h1>
</nav>*@


@section Parameters
{
    <partial name="Parameters.cshtml" />
    <partial name="Chart.cshtml" />
}
