@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Параметры</button>
            <button type="button" class="btn btn-secondary">Сохранить</button>
            <button type="button" class="btn btn-secondary">Загрузить</button>
        </div>
    </div>
