@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#CollapsParameters" aria-expanded="false" aria-controls="CollapsParameters">Параметры</button>
            <button type="button" class="btn btn-primary" onclick="ShowChart();">Отобразить график</button>
            <button type="button" class="btn btn-primary" onclick="resetZoom();">Сбросить масштабирование</button>
            <button type="button" class="btn btn-primary">Загрузить</button>

            <button type="button" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-primary" onclick="Test();">Тест</button>
        </div>
    </div>


@section Parameters
{
    <partial name="Parameters.cshtml" />
     <partial name="Chart.cshtml" />
}
