@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Здесь будут графики</h1>
        <h1 class="display-4">Или нет</h1>
        <button type="button" class="btn btn-dark">Тестовая кнопка</button>
    </div>
