@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@*<div class="container">
        <div class="row">
            <div class="col-sm">
                <img src="http://i.imgur.com/wBl41wl.png" class="rounded float-left" alt="...">
            </div>
        </div>
    </div>*@
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Ссылка с href
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Кнопка с data-target
</button>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
</div>