@{ 

    List<string> parametersForSelect = new List<string> { "Tn", "T0", "S", "F", "Fv"};
    List<string> parameters = new List<string>(parametersForSelect) { "Eps" };
}
<div class="collapse" id="CollapsParameters">
        <div class="col col-lg-3">
            <div class="form-group">
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Параметр</span>
                        </div>
                    </div>
                    <select class="form-control" id="ParameterSelect">
                        <option />
                        @foreach (var parameter in parametersForSelect)
                        {
                            <option>@parameter</option>
                        }
                    </select>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">От</span>
                        </div>
                        <input type="number" class="form-control">
                        <div class="input-group-prepend">
                            <span class="input-group-text">До</span>
                        </div>
                        <input type="number" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Количество точек</span>
                        </div>
                        <input type="number" class="form-control">
                    </div>
                </div>
                @{

                    foreach (var parameter in parameters)
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">@parameter</span>
                                </div>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
</div>